<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Event' } %>

<%= content_for :content do %>
  <h2 class="grp-hdr">New Event</h2>
  <hr />

  <%= render :partial => 'form', :locals => { :etype => 'Event' } %>
<% end %>
