<% title "Add Session " %>

<%= form_for @session_event, :url => event_session_relationships_path(@event), :html => {:multipart => true} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<p><%= link_to "Back", @event %></p>
