<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Session' } %>

<%= content_for :content do %>
  <h2 class="grp-hdr">New Session</h2>
  <hr />

  <%= form_for @session_event, :url => event_session_relationships_path(@event), :html => {:multipart => true}, :validate => true do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :etype => 'Session' } %>
  <% end %>
<% end %>  
