<div class="span-4">
  <% for pic in event.pictures %>
      <%= image_tag chk_image(pic.photo.url), :size => '120x120' %>
  <% end %>
  <% if event.try(:pictures).blank? %>
    <%= image_tag "schedule1.jpg", :alt => "none", :size => "120x120" %>
  <% end %>
</div>
<%= render :partial => 'shared/show_event', :locals => {:event => event} %>
