  <div class="show-item">
    <div class="span-2">Page Name:</div>
    <div class="span-18 last"><strong><%= sponsor_page.name %> </strong></div>
    <div class="span-2">Page Title:</div>
    <div class="span-18 last"><%= sponsor_page.message %> </div>
    <div class="span-2">Status:</div>
    <div class="span-18 last"><%= sponsor_page.status.titleize %> </div>
  </div>
