<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Sponsor' } %>

<%= content_for :content do %>
  <h2 class="grp-hdr">Edit Sponsor Page</h2>
  <hr />

  <%= render 'shared/sponsor_page_form' %>
<% end %>
