<p>
   <%= builder.label :category_name, "Category" %>
   <%= builder.collection_select :category_id, @categories, :id, :name, :input_html => {:rel => "/channels/category_select"}, :rows => 5  %>
   <%= select_tag 'interest_id', options_for_select(@interests.collect{ |c|[c.name, c.id] }), :prompt => 'Select' %>

</p>   

