table { border: 1px solid grey; }

th { background: #000000; color: #ffffff; font-weight: bold }

.nav-right { float: right; }
.nav-left { float: left; }
.clear-all { clear:both }
.clear-right { clear:right }
.lbl-top { margin-top: 8px }

.field_with_errors { display: inline; }  
.field_with_errors .message {  
   color: #D00;  
   padding-left: 5px;  
   font-size: 12px;  
 }  

/* set text area */
#channel_cbody, #event_cbody, #presenter_bio { height: 100px; width: 500px; }

h2 { margin-bottom: 0 }

.check_bx {	
	margin-top:10px;
	clear:right;	
	}

.grp-hdr { color: #0c6fcb; font-weight:bold; }	

.mtop { margin-top: 10px }

/* Nav Links */
#link-btn { background: #0c6fcb; font-size:0.75em;
   font-weight:bold; display:block; text-align: center;
   padding: 5px; color: #ffffff; margin-right: auto; margin-left: 0;
   }

#nav-btn { background: #cccccc; font-size:0.75em;
   font-weight:bold; display:block; text-align: center;
   padding: 5px; color: #000000; width: 60px; margin-width: 10px;
   }

/* Links */
a {
  text-decoration: none;
  }

a:hover {
  text-decoration: none;
  }

/* Round corners */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
   border-radius:         10px;  
  }
