<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Profile' } %>

<%= content_for :content do %>
  <h2 class="grp-hdr">Manage Users</h2>
  <hr />
  <p><br />
  <strong>User List:</strong>
  <%= link_to "Add User", select_users_path(:cid=>@channel), :id=>"link-btn", :class=>"round nav-right" %>
  <div id="acc_list"><%= render :partial => 'shared/manage_users', :locals => {:model => @users } %></div>
  </p>  
<% end %>
