<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Sponsor' } %>

<%= content_for :content do %>
  <h2 class="grp-hdr">New Sponsor Page</h2>
  <hr />

  <%= form_for @sponsor_page, :url => sponsor_pages_path(@sponsor_page, :eid=>@event, :cid=>@channel), :html => { :multipart => true }, :validate => true do |f| %>
    <%= render :partial => 'shared/sponsor_page_form', :locals => { :f => f } %>
  <% end %>
<% end %>
