   <span>Category: </span>
   <%= builder.collection_select :category_id, Category.get_active_list, :id, :name, :prompt => 'Select' %>
   <% if @interests %>
     <%= builder.collection_select :interest_id, @interests, :id, :name, :prompt => 'Select' %>
   <% else %>
     <%= builder.collection_select :interest_id, Interest.get_active_list, :id, :name, :prompt => 'Select' %>
   <% end %>
<br />
