<% title "Edit Presenter" %>

<%= form_for ([@event, @presenter]), :html => { :multipart => true }, :validate => true do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<p>
  <%= link_to "Show", [@event, @presenter] %> |
  <%= link_to "View All", event_presenters_url %>
</p>
