<% title "Presenters" %>

<div class="nav-right">
  <p><%= link_to "Back", @event %></p>
</div>

<%= render :partial => 'shared/presenter_list', :locals => { :spkrlist => 'No' } %>

<p><%= link_to "Add Presenter", new_event_presenter_url %> | <%= link_to "Back", @event %></p>
