<% title "New Presenter" %>

<%= form_for @presenter, :url => event_presenters_path, :html => { :multipart => true }, :validate => true do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %> 
<% end %>

<% if @parent_event %>
  <%= link_to "View All", event_presenters_url(@event, :presenter_id => @presenter, :parent_id => @parent_event) %>
<% else %>
  <p><%= link_to "Back", event_presenters_path %></p>
<% end %>
