<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Sponsor' } %>

<%= content_for :content do %>
  <h2 class="grp-hdr">Sponsor List</h2>
  <hr />

  <% unless @parent_event %>
    <p><%= link_to "New Sponsor", new_event_sponsor_url(:cid=>@channel), :id=>"link-btn", :class=>"round nav-right" %></p><br />
  <% end %>

  <p>
  <div id="pres-list"><%= render :partial => 'shared/sponsor_list', :locals => { :event => @event, :sponlist => 'No', :parent => @parent_event } %></div>
  </p>
<% end %>
