<% title "Edit Organization" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", [@user, @host_profile] %> 
  <% if @channel %>
    <%= link_to "Edit Channels", edit_channel_url(@channel) %> 
  <% end %>
</p>
